<div class="p-2" style="max-width: 500px; display: flex; justify-content: space-between; background: wheat; 
      border-radius: 1rem;">
      <div class="content" style="width: 90%;">
            <h3 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h3>
            <p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>
            <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="todo{{i}}" [checked]="!todo.active" (click)="onCheckboxClick(todo)">
                  <label class="form-check-label" for="todo{{i}}">Done</label>
            </div>
      </div>
      <div class="removeBtn" >
            <button class="btn btn-sm btn-primary" (click)="onClick(todo)"><i class="far fa-trash-alt"></i></button>
      </div>
      <!-- <hr style="height: 1px; background-color: gary;"> -->
</div>
