.btn:hover{
    color: white;
    background: red;
}

.strike{
    background: rgb(43, 243, 25);
    /* text-decoration: line-through; */
}
.item{
   background: #ccffcc;
   /* background:#ccccff */
 }